@model IEnumerable<VienShops.Models.CHITIETDONHANG>

@{
    ViewBag.Title = "DetailOrder";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h2>Thông tin đơn hàng</h2>
<table class="table">
	<tr>
		<th>Tên sản phẩm</th>
		<th>
			Số Lượng
		</th>
		<th>
			Thành Tiền
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem=>item.SANPHAM.TENSP)
		</td>
		<td>
			@item.SOLUONG
		</td>
		<td>
			@String.Format("{0:0,0}",item.THANHTIEN)
		</td>
		<td>
			@*@Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
			@Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
			@Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})*@
		</td>
	</tr>
}

</table>
